{% load moex_extras %}

		<div class="row">
		          <div class="col-md-3 d-none d-md-block">
		            <p>Наименование</p>
		          </div>
		          <div class="col-md-3 d-none d-md-block">
		            <p>Владелец</p>
		          </div>
		          <div class="col-md-2 d-none d-md-block">
		            <p>Стратегия</p>
		          </div>
		          <div class="col-md-2 d-none d-md-block">
		            Доходность
		          </div>
		          <div class="col-md-2 d-none d-md-block">
		           Годовая доходность
		          </div>
	        </div>
	    <div class="dropdown-divider d-none d-md-block"></div>
{% for portfolio in portfolios %}
	                <div class="row">
	                      <div class="col-md-3 mb-1 mt-1">
	                        <a class="btn {% if request.user != portfolio.owner %}btn-secondary{% else %}btn-success{% endif %} btn-sm" href="{{ portfolio.get_absolute_url }}">{{ portfolio.title}}</a>
	                      </div>
	                      <div class="col-md-3 mb-1 mt-1">
	                        <span class="d-md-none">Владелец: </span><a class="btn btn-warning btn-sm" href="{{ portfolio.owner.get_absolute_url }}">{{ portfolio.owner}}</a>
	                      </div>
	                      <div class="col-md-2 mb-1 mt-1">
	                        <span class="d-md-none">Стратегия: </span><span>{{ portfolio.strategia }}</span></div>
	                      <div class="col-md-2 mb-1 mt-1">
	                        <span class="d-md-none">Доходность: </span><span class="{{ portfolio.percent_profit | return_color_and_fas_bootstrap }}">{{ portfolio.percent_profit }}%</span><br class="d-none d-md-inline"><span class="d-md-none d-inline"> </span><span class="{{portfolio.change_percent_profit | return_color_and_fas_bootstrap:True }}"><span class="d-md-none d-inline"></span>({{portfolio.change_percent_profit}}%)</span>
	                      </div>
	                      <div class="col-md-2 mb-1 mt-1">
	                       <span class="d-md-none">Годовая доходность: </span><span class="{{ portfolio.year_percent_profit | return_color_and_fas_bootstrap }}">{{ portfolio.year_percent_profit }}%</span><br class="d-none d-md-inline"><span class="d-md-none d-inline"> </span><span class="{{portfolio.change_year_percent_profit | return_color_and_fas_bootstrap:True }}"><span class="d-md-none d-inline"></span>({{portfolio.change_year_percent_profit}}%)</span>
	                      </div>
	                    </div>
	                <div class="dropdown-divider"></div>
	    {% endfor %}