{% extends "base.html" %}
{% load static %}
{% load moex_extras %}
{% block page_css %}
<link rel="stylesheet" href="{% static 'css/daterangepicker/daterangepicker.css' %}">
<link rel="stylesheet" href="{% static 'css/toast/toast.css' %}">

{% endblock page_css %}

{% block content %}
<div class="container">
    <h3>Мой кошелёк:</h3>
    <div class="row">
        <div class="col-md-4">
            <p>Всего инвестиций: <span id="invest_cash">{{vklad.invest_cash}}</span></p>
            <p>Текущий баланс: <span id="today_cash">{{vklad.today_cash}}</span></p>
       {% comment "" %}<p>Остаток: <span id="ostatok">{{vklad.ostatok}}</span></p>{% endcomment %} 
            <p>Доходность: <span id="percent_profit">{{vklad.percent_profit}}</span></p>
            <p>Годовая доходность: <span id="year_percent_profit">{{vklad.year_percent_profit}}</span></p>
        {% comment "" %}<a class="mb-4 refresh-vklad btn btn-info btn-sm" href="{% url 'vklad:refresh_vklad' vklad.id %}">Обновить</a>{% endcomment %} 
</div>

        <div class="col-md-8">
            <button type="button" class="btn btn-secondary mt-4 mb-2 col-12" id="historyPortfolioButton" data-toggle="collapse" data-target="#collapseHistoryVklad" aria-expanded="false" aria-controls="collapseHistoryVklad">
            История пополнений и снятий
            </button>
            <div class="collapse history-table" id="collapseHistoryVklad">
                {% for i in invests %}
                    <div class="row align-items-center">
                        <div class="col-9">
                            <div class="row">
                                <div class="col-md-4">
                                    {{ i.date }}
                                </div>
                                <div class="col-md-4">
                                    {{ i.cash }} {{ i.get_currency_display }}
                                    {% if i.currency != 'SUR' %}</br>({{ i.cash_in_rub }} РУБ){% endif %}
                                </div>
                                <div class="col-md-4">
                                    {{ i.get_action_display }}
                                    {% if i.security %}
                                        </br>
                                        <a class="btn btn-warning btn-sm" href="{% url 'moex:detail' i.security.id %}">{{ i.security.shortname }}</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <a class="btn btn-secondary btn-sm" href="{% url 'portfolio:detail' i.portfolio.id %}">{{ i.portfolio.title }}</a>
                        </div>
                    </div>
                    <div class="dropdown-divider"></div>
                
                {% endfor %}
                {% comment "перечень инвест позиций вклада" %}
                {% for i in vklad.vklads.all %}
                    <div class="row align-items-center">
                        <div class="col-9">
                            <div class="row">
                                <div class="col-md-4">
                                    {{ i.date }}
                                </div>
                                <div class="col-md-4">
                                    {{ i.cash }}
                                </div>
                                <div class="col-md-4">
                                    {% if i.popolnenie %}Пополнение{% else %}Снятие{% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <a class="delete-vklad btn btn-danger btn-sm" href="{% url 'vklad:del_vklad' i.id %}">Удалить</a>
                        </div>
                    </div>
                    <div class="dropdown-divider"></div>
                {% endfor %}
                {% endcomment %}

                {% comment "форма добавления на вклад" %}
                <div class="row align-items-center">
                    <div class="col-9">
                            <div class="row align-items-center">
                                <div class="col-md-4"><input type="text" name="date" required="" id="id_date" class="form-control form-control-sm mt-1 mb-2"></div>
                                <div class="col-md-4"><input type="number" name="cash" step="0.01" required="" id="id_cash" class="form-control form-control-sm mt-1 mb-2" placeholder="Введите сумму"></div>
                                <div class="col-md-4"><input type="checkbox" name="popolnenie" id="id_popolnenie"> <label for="id_popolnenie">Пополнение</label></div>
                            </div>
                    </div>
                    <div class="col-3">
                        <a id="add_vklad" class="btn btn-success btn-sm mt-1 mb-2" href="{% url 'vklad:add_vklad' vklad.id %}">Добавить</a>
                    </div>
                </div>
                {% endcomment %}
            </div>
            <button type="button" class="btn btn-secondary mt-4 mb-2 col-12" id="PortfolioButton" data-toggle="collapse" data-target="#collapsePortfolios" aria-expanded="false" aria-controls="collapsePortfolios">
                Портфели
            </button>
            <div class="collapse history-table" id="collapsePortfolios">
                <div class="row">
                    <div class="col-md-2 d-none d-md-block">
                        <p>Наименование</p>
                    </div>
                    <div class="col-md-2 d-none d-md-block">
                        <p>Инвестиции</p>
                    </div>
                    <div class="col-md-2 d-none d-md-block">
                        <p>Текущий баланс</p>
                    </div>
                    <div class="col-md-2 d-none d-md-block">
                        Доходность
                    </div>
                    <div class="col-md-2 d-none d-md-block">
                    Годовая доходность
                    </div>
                </div>
                {% for portfolio in portfolios %}
                    <div class="dropdown-divider"></div>
                    <div class="row">
                        <div class="col-md-2 mt-1 mb-1">
                            <a class="btn btn-secondary btn-sm" href="{{ portfolio.get_absolute_url }}">{{ portfolio.title}}</a>
                        </div>
                        <div class="col-md-2 mt-1 mb-1">
                            <span class="d-md-none">Инвестиции: </span>{{ portfolio.invest_cash}}
                        </div>
                        <div class="col-md-2 mt-1 mb-1">
                            <span class="d-md-none">Текущий баланс: </span>{{ portfolio.today_cash}}<br class="d-none d-md-inline"><span class="d-md-none d-inline"> </span><span class="{{ portfolio.change_today_cash | return_color_and_fas_bootstrap:True }}"><span class="d-md-none d-inline"></span>({{portfolio.change_today_cash}}%)</span>
                        </div>
                        <div class="col-md-2 mt-1 mb-1">
                            <span class="d-md-none">Доходность: </span>
                            <span class="{{ portfolio.percent_profit | return_color_and_fas_bootstrap }}">{{ portfolio.percent_profit }}%</span><br class="d-none d-md-inline"><span class="d-md-none d-inline"> </span><span class="{{ portfolio.change_percent_profit | return_color_and_fas_bootstrap:True }}"><span class="d-md-none d-inline"></span>({{portfolio.change_percent_profit}}%)</span>
                        </div>
                        <div class="col-md-2 mt-1 mb-1">
                            <span class="d-md-none">Годовая доходность: </span>
                            <span class="{{ portfolio.year_percent_profit | return_color_and_fas_bootstrap }}">{{ portfolio.year_percent_profit }}%</span><br class="d-none d-md-inline"><span class="d-md-none d-inline"> </span><span class="{{ portfolio.change_year_percent_profit | return_color_and_fas_bootstrap:True }}"><span class="d-md-none d-inline"></span>({{portfolio.change_year_percent_profit}}%)</span>
                        </div>
                    </div>
                    
                {% endfor %}
            </div>
            <button type="button" class="btn btn-secondary mt-4 mb-2 col-12" 
            id="TradesButton" data-toggle="collapse" data-target="#collapseTrades" aria-expanded="false" aria-controls="collapseTrades">
                История торгов
            </button>
            <div class="collapse history-table" id="collapseTrades">
                <div class="row">
                    <div class="col-md-2 mt-1 d-none d-md-block">
                        <p>Портфель</p>
                    </div>
                    <div class="col-md-2 mt-1 d-none d-md-block">
                        <p>Ценная бумага</p>
                    </div>
                    <div class="col-md-2 mt-1 d-none d-md-block">
                        <p>Количество</p>
                    </div>
                    <div class="col-md-2 mt-1 d-none d-md-block">
                        <p>Цена</p>
                    </div>
                    <div class="col-md-2 mt-1 d-none d-md-block">
                        <p>Действие</p>
                    </div>
                    <div class="col-md-2 mt-1 d-none d-md-block">
                        <p>Дата</p>
                    </div>
                </div>
                {% for trade in trades %}
                    <div class="dropdown-divider"></div>
                    <div class="row">
                        <div class="col-md-2 mt-1 mb-1">
                            <a class="btn btn-secondary btn-sm" href="{{ trade.portfolio.get_absolute_url }}">{{ trade.portfolio.title }}</a>
                        </div>
                        <div class="col-md-2 mt-1 mb-1">
                            <a class="btn btn-warning btn-sm" href="{% url 'moex:detail' trade.security.id %}">{{ trade.security.shortname }}</a>
                        </div>
                        <div class="col-md-2 mt-1 mb-1">
                            <span class="d-md-none">Количество: </span><span>{{ trade.count|delete_zeroes }} шт.</span>
                        </div>
                        <div class="col-md-2 mt-1 mb-1">
                            <span class="d-md-none">Цена: </span>
                            <span>{{ trade.price|delete_zeroes }} {{ trade.security.get_main_board_faceunit_display }}</span>
                            {% if trade.commission > 0 %}
                                </br>
                                <span>Комиссия: </span>
                                <span>{{ trade.commission|delete_zeroes }} {{ trade.security.get_main_board_faceunit_display }}</span>
                            {% endif %}
                            {% if trade.nkd > 0 %}
                                </br>
                                <span>НКД: </span>
                                <span>{{ trade.nkd|delete_zeroes }} {{ trade.security.get_main_board_faceunit_display }}</span>
                            {% endif %}
                            {% if trade.ndfl > 0 %}
                                </br>
                                <span>НДФЛ: </span>
                                <span>{{ trade.ndfl|delete_zeroes }} {{ trade.security.get_main_board_faceunit_display }}</span>
                            {% endif %}
                        </div>
                        <div class="col-md-2 mt-1 mb-1">
                            <span class="d-md-none">Действие: </span><span>{% if trade.buy %}Покупка{% else %}Продажа{% endif %}</span>
                        </div>
                        <div class="col-md-2 mt-1 mb-1">
                            <span class="d-md-none">Дата: </span><span>{{ trade.date }}</span>
                        </div>


                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>


{% endblock content %}


{% block domready %}
        
{% endblock domready %}

{% block page_javascript %}

    <script src="{% static 'js/daterangepicker/moment.min.js' %}"></script>
    <script src="{% static 'js/daterangepicker/daterangepicker.js' %}"></script>
    <script src="{% static 'js/toast/toast.js' %}"></script>
    <script src="{% static 'js/vklad_detail.js' %}"></script>
    
{% endblock page_javascript %}

