{% extends "base.html" %}
{% block content %}

	<p>Mybonds.space - сервис, предназначенный для отслеживания состояния портфелей, интересующих Вас ценных бумаг.</p>
    <p>Функции:</p>
    <ul>
        <li>Создание собственных портфелей</li>
        <li>Отслеживание общедоступных портфелей, а также портфелей ваших друзей</li>
        <li>Отслеживание ценных бумаг, которые есть в ваших портфелях, а также других интересующих вас енных бумаг</li>
        <li>Ежедневное информирование о состоянии портфелей и стоимости ценных бумаг</li>
        <li>Анализ брокерских отчетов (пока только Тинькофф, при необходимости могут быть добавлены другие брокеры)</li>
        <li>Расчет относительной доходности</li>
        <li>Расчет годовой догодности (показатель расчитывается как значение ставки банковского депозита, необходимого для достижения доходности, как в текущем портфеле)</li>
        <li>Расчет относительной и годовой доходности суммарно по всем портфелям</li>
	</ul>
{% endblock content %}