{% load email_extras %}
{% load moex_extras %}
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{{ subject }}</title>
        <style media="all" type="text/css">
       {# or use bootstrap_email_min for stripped file #}
    </style>
</head>
<body>
	{% if portfolios %}
		<h3>Мои портфели:</h3>
		{% include "users/portfolios_template.html" with portfolios=portfolios %}
	{% endif %}

	{% if securities_in_portfolios %}
    <h3>Ценные бумаги в портфелях:</h3>
        {% include "users/securities_template.html" with securities=securities_in_portfolios %}
    {% endif %}

    {% if portfolio_followed %}
        <h3>Отслеживаемые портфели:</h3>
        {% include "users/portfolios_template.html" with portfolios=portfolio_followed %}
    {% endif %}

    {% if security_followed %}
    <h3>Отслеживаемые ценные бумаги:</h3>
        {% include "users/securities_template.html" with securities=security_followed %}
    {% endif %}

</body>
</html>