{% load email_templates %}
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{{ subject }}</title>
        <style media="all" type="text/css">
        {% bootstrap_email %}
        {# or use bootstrap_email_min for stripped file #}
    </style>
</head>
<body>
	{% if portfolios %}
		<h3>Мои портфели:</h3>
		{% for portfolio in portfolios %}

			*{{ portfolio.title}}</br>
	                        <span>Инвестиции: {{ portfolio.invest_cash}}</span></br>
	                        <span>Текущий баланс: {{ portfolio.today_cash}}</span><span style = "color:{% if portfolio.change_today_cash > 0 %}green{% elif portfolio.change_today_cash < 0 %}red{% else %}gray{% endif %}"><span class="d-md-none d-inline"></span>({{portfolio.change_today_cash}}%)</span></br>
	                        <span>Доходность: </span><span style = "color:{% if portfolio.percent_profit > 0 %}green{% elif portfolio.percent_profit < 0 %}red{% else %}gray{% endif %}">{{ portfolio.percent_profit }}%</span><span style = "color:{% if portfolio.change_percent_profit > 0 %}green{% elif portfolio.change_percent_profit < 0 %}red{% else %}gray{% endif %}">({{portfolio.change_percent_profit}}%)</span></br>
	                       <span>Годовая доходность: </span><span style = "color:{% if portfolio.year_percent_profit > 0 %}green{% elif portfolio.year_percent_profit < 0 %}red{% else %}gray{% endif %}">{{ portfolio.year_percent_profit }}%</span><span style = "color:{% if portfolio.change_year_percent_profit > 0 %}green{% elif portfolio.change_year_percent_profit < 0 %}red{% else %}gray{% endif %}">({{portfolio.change_year_percent_profit}}%)</span></br>
	                       <span>---------------------------</span></br>
	    {% endfor %}
	{% endif %}

	{% if securities_in_portfolios %}
    <h3>Ценные бумаги в портфелях:</h3>
    		{% for security in securities_in_portfolios %}
                    <span>Наименование: </span>{{ security.name }}</a></br>
                    <span>Эмитент: </span><span>{{ security.emitent }}</span></br>
                    <span>Цена: </span><span>{{ security.today_price }}</span><span> руб.<span style = "color:{% if security.change_price_percent > 0 %}green{% elif security.change_price_percent < 0 %}red{% else %}gray{% endif %}">({{security.change_price_percent}}%)</span></span></br>
                    <span>Дата обновления: </span><span>{{ security.last_update }}</span></br>
                    <span>---------------------------</span></br>

        {% endfor %}
    {% endif %}

    {% if security_followed %}
    <h3>Отслеживаемые ценные бумаги:</h3>
    		{% for security in securities_in_portfolios %}
                    <span>Наименование: </span>{{ security.name }}</a></br>
                    <span>Эмитент: </span><span>{{ security.emitent }}</span></br>
                    <span>Цена: </span><span>{{ security.today_price }}</span><span> руб.<span style = "color:{% if security.change_price_percent > 0 %}green{% elif security.change_price_percent < 0 %}red{% else %}gray{% endif %}">({{security.change_price_percent}}%)</span></span></br>
                    <span>Дата обновления: </span><span>{{ security.last_update }}</span></br>
                    <span>---------------------------</span></br>

        {% endfor %}
    {% endif %}

</body>
</html>